extends layout

block content
  h1 #{title}
  p  For this assignment, we are supposed to build a Node/Express application that uses a GET method to retrieve date from an external API.
  p Below you will find a random Wikipedia page and the basic description of that page!
