extends layout

block content
  h1 #{title}
  p  For this assignment, we are supposed to build a Node/Express application that uses a GET method to retrieve date from an external API.
  p Below you will find a random joke, its rating and category!
  br
  p Joke : #{joke}
  p Category: #{category}
  p Rating: #{rating}

  a(class='button' href='/ps4') Click to get a new joke!


