extends layout

block content
    h1= title
    p Welcome to #{title}
    p We are learning about how to create a simple Node application using javascript. In this assignment, we have to have:
    ol
        li An instance of express.Router in a separate route file that is mounted on the path /ps3
        li A route using the GET method that returns a fixed string
        li A route using the POST method that returns a similar response as b. above but gets its parameter from the request body rather than the URL string
    p What is one of your favorite movies? One of my favorites is below!
    p
    p  #{name} which was released on #{release}